/* Name: Mary Ansta Livera  Student Number: 9029601 */
html{
    font-size: 16px;
}
body{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0.2rem;
    font: 1rem Times;
    background-image: linear-gradient(rgb(254, 239, 242), rgb(215, 232, 190));
}
.header, .footer{
    border: 2px solid black;
    text-align: center;
    border-radius: 6px;
    background-image: linear-gradient(rgb(163, 62, 51), rgb(228, 231, 130), rgb(163, 62, 51));
}
.header{
    padding: 1rem;
    margin: 5px 5px;
}
h1{
    text-align: center;
}
nav{
    background-color: rgb(227, 176, 176);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-weight: bold;
    margin: 0px 10px;
    align-items: end;
    position: relative;
    padding: 0.5rem 1rem;
}
nav a{
    text-decoration: none;
    color: rgb(65, 61, 61);
    font-size: large;
    margin: 0px 20px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
nav a:hover{
    color: rgb(166, 166, 166);
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    position: relative;
    padding: 0.5rem;
}
nav ul li ul{
    display: none;
    position: absolute;
    left: 0;
    background-color: #ddf0f0;
    min-width: 150px;
}

nav ul li a{
    font-size: 1.1rem;
}
nav ul li:hover > ul{
    display: block;
    z-index: 1;
}
nav ul li ul li a{
    color: rgb(33, 33, 52);
    display: inline-block;
}
nav ul li ul li a:hover{
    color: black;
    background-color: rgb(227, 176, 176);
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 20px; 
}
main{
    width: 100%;
    padding: 0.63rem;
}
.bio figure img{
    width: 36vw;
    padding: 1.25rem;
}
.bio figure img:nth-child(1){
    clip-path: ellipse(50% 50% at center);
}
.bio figure img:nth-child(2){
    clip-path: ellipse(50% 50% at center);
}
table{
    width: 200%;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}
table th, table td{
    padding: 0.75rem;
    text-align: center;
    border: 1px solid #dee2e6;
}
table th{
    background-color: #711313;
    color: white;
    font-weight: bold;
}
table tbody tr:nth-child(odd){
    background-color: #f8f9fa;
}
table tbody tr:hover{
    background-color: #e9ecef;
}
aside{
    width: 100%;
    margin-top: 20px;
    background-color: #caf0a2;
    padding: 0.13rem 1.25rem;
    border-radius: 4px;
    height: 500px;
    box-sizing: border-box;
    top: 10px;
    margin-bottom: 10px;
    background-image: url("../images/image4.jpeg");
    background-size: cover;
    background-position: center;
}
aside a:hover{
    color: #2854b4;
}
aside ul{
    list-style-type: none;
}
aside ul li{
    list-style: none;
    line-height: 4em;
    font-size: 1.3rem;
}
aside ul > li > a{
    text-decoration: none;
    color: rgb(35, 115, 42);
    font-weight: bolder;
    background-color: beige;
    padding: 0.5rem;
    border-radius: 5px;
}
h2{
    color: rgb(180, 28, 119);
    font-size: 1.5em;
}
aside h3{
    background-color: beige;
    color: rgb(197, 15, 15);
    font-size: 1.5em;
    padding: 0.52rem;
    border-radius: 5px;
}
.mainimg{
    width: 100%;
    border: 2px #666;
    border-radius: 2px;
}
q{
    font-family: cursive;
    font-style: italic;
    font-size: 1.2em;
    color: #101f70;
}
.gallery-grid img{
    width: 120%;
    clip-path: polygon(10% 0%, 100% 3%, 98% 99%, 3% 93%);
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery-grid figure {
    margin: 0;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
figcaption {
    text-align: center;
    color: #2e0fa9;
    font-weight: bold;
    font-variant: small-caps;
}
.video{
    padding: 1rem;
}
.video iframe{
    width: 100%;
    height: 500px;
    border: none;
}
footer{
    background-color: rgba(229, 239, 213, 0.5);
    border: 1px solid black;
    color: #1f2122;
    text-align: center;
    font-size: 1em;
    border-radius: 6px;
    padding: 0.9rem;
    margin: 20px;
    background-image: linear-gradient(rgb(163, 62, 51), rgb(228, 231, 130), rgb(163, 62, 51));
    background-color: #373076;
    color: rgb(41, 31, 31);
    font-weight: bolder;
    font-size: 1.2rem;
}
footer{
    clear: both;
}
@media (max-width: 900px){
    .gallery-grid img {
        grid-template-columns: 1fr;
    }
    .header, .footer{
        background-image: linear-gradient(rgb(195, 74, 74),grey);
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: linear-gradient(rgb(235, 176, 186), rgb(200, 200, 237));
    }
    .container {
        grid-template-columns: 1fr; /* Change to single column layout */
    }
    aside {
        background-image: url(../images/image_new.jpg);
    }
}
@media (max-width: 600px){
    .gallery-grid img {
        grid-template-columns: 1fr;
    }
    body {
        background-image: linear-gradient(rgb(181, 136, 136), rgb(236, 236, 199));
    }
    .header, .footer{
        background-image: linear-gradient(rgb(184, 184, 117),rgb(44, 44, 193));
    }
    h1 {
        color: whitesmoke;
    }
    .container {
        grid-template-columns: 1fr; /* Change to single column layout */
    }
    aside {
        background-image: url(../images/image8.jpeg);
    }
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

